NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173
POSTGRES_USER=<usuario_postgres>
POSTGRES_PASSWORD=<password_postgres>
POSTGRES_DB=<nombre_base_de_datos>
POSTGRES_PORT=5432
DATABASE_URL=postgresql://<usuario_postgres>:<password_postgres>@db:5432/<nombre_base_de_datos>?schema=public
